:root {
    --main_red: #ff2a2b;
    --main_yellow: #feb93b;
    --verysoft_yellow: #fef5f5;
    --main_dark: #2e2e2e;

    --fz_sm: 14px;
    --fz_md: 16px;
    --fz_lg: 18px;
    --fz_xxlg: 24px;
}

html {
    font-family: 'Inter', sans-serif;
}

/*################*/
/*!Clases genéricas*/
/*################*/

.container {
    width: 80%;
    max-width: 1200px;

    margin: 0px auto;
}

.btn {
    border: 2px transparent;
    background-color: white;
    padding: 0.8em 1.4em;
    border-radius: 16px;
    text-transform: uppercase;
    cursor: pointer;

    display: inline-block;

    transition: all 0.3s ease;
}

.btn--primary:hover{
    background: var(--main_yellow);
    color: white;
}

/*#######*/
/* NAVBAR */
nav{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
}

.nav__navigation{
    display: flex;
    gap: 2px;
    list-style: none;
    height: 100%;
    align-items: center;
    padding: 0;
}

.nav__item{
    width: max-content;
}

.a__navbar{
    text-decoration: none;
    color: var(--main_dark);
}

.nav__logo{
    max-width: 200px;
}

nav .wrap-menu{
    color: var(--main_dark);
    background: none;
    border: none;
    font-size: 24px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

/*#######*/
/*TODO footer*/
footer {
    background: var(--main_dark);
    font-size: var(--fz_lg);

    padding: 36px 0;
}

.footer-subtitle {
    color: white;
}

.footer__container {
    /*Contenedor de todo lo que está tendro del footer*/
    display: flex;
    flex-direction: column; /*El disclaimer se pone debajo del contenedor de la información y las redes sociales*/

    gap: 16px;
}

.footer__info-social {
    /*Contenedor de la información de la empresa y las redes sociales*/
    display: flex;
    justify-content: space-around; /*Se ponen uno al lado del otro*/

    align-items: center;
}

.footer__info {
    /*El contenedor toma el mínimo tamaño posible (Para que el logo no se agrande demasiado)*/
    width: min-content;
    text-align: center;
}

.footer__logo { /*El logo ocupa el 100% del su contenedor*/
    width: 100%;
}

.footer__list { /*Estilos aplicables a ambas listas*/
    color: white;
    list-style: none;
    padding: 0px;
}

.social__list { /*Estilos independientes para las redes sociales*/
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}

.social__item i { /*Tamaño de los iconos*/
    color: white;
    font-size: var(--fz_xxlg);
}

.footer__disclaimer {
    text-align: center;
    margin: 0px auto;
    color: white;

    text-transform: uppercase;
    font-weight: bold;
}

/*##############################*/
/*!Modificadores clases genéricas*/
/*##############################*/
.btn--black {
    /*Modificación de la clase genérica btn*/
    background-color: var(--main_dark);
    color: white;
}

/*#####################################*/
/*START index.html*/
/*#####################################*/

/*##############################*/
/*!SECCIÓN HERO CONTAINER (INDEX)*/

/*ESTILOS DEL CONTENEDOR HERO*/
.hero {
    height: calc(100vh - 60px); /*Se le debe restar el alto de la barra de navegación (Por ahora se resta cero)*/

    background: url('../img/bg_desktop.jpg'); /*Inicialmente el fondo el el de desktop, con un media query se adapta a móbiles*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /*Centrar el contenido verticalmente*/
    display: flex;
    align-items: center;

    padding-left: 1.2vw;
}

.hero__content {
    width: 50%; /*El texto siempre ocupará el 50% del hero*/
    display: flex;
    flex-direction: column;

    align-items: center; /*Centrado del logo y del botón*/
    text-align: center; /*Centrado del párrafo*/

    font-size: 2vw; /*El tamaño de la fuente del contenedor depende del ancho del dispositivo*/
}

.hero__logo {
    width: 80%;
}

.hero__text {
    font-size: 1em; /*El tamaño de fuente es relativa a su contenedor*/
    font-weight: 300;
}

.btn--hero {
    font-size: 0.6em; /*El tamaño de fuente es relativa a su contenedor*/
}

/*#####################################*/
/* sección de las categorías INDEX*/

.catContainer{
    width: 76%;
    margin: 0px auto;
    margin-top: 40px;
    max-width: 1200px;
}

.bannerCategories{
    background-color: var(--main_yellow);
    height: calc(200px - 36px);
    text-align: center;
    padding-top: 36px;
    border-radius: 16px;
}

.subtitle{
    color: white;
    font-size: var(--fz_md);
}

.circlesContainer{
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
    justify-content: center;
    margin-top: -90px;
    margin-bottom: 32px;
}

.circle{
    width: 240px;
}

.imgRounded{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 16px;
}

.descripCateg{
    text-align: center;
    font-size: var(--fz_md);
}

.a__catContainer{
    text-decoration: none;
    color: var(--main_dark);
}

/*#####################################*/
/*END index.html*/
/*#####################################*/

/*#####################################*/
/*START categoryX.html*/
/*#####################################*/

/*#####################################*/
/*TODO sección de los proveedores*/

/*#####################################*/
/*TODO sección de los productos de la categoría*/

/*#####################################*/
/*END categoryX.html*/
/*#####################################*/

/*###############*/
/*!MEDIA QUERIES*/
/*###############*/

@media (max-width: 768px) {
    /*Para pantallas pequeñas*/

    /*!Hero section*/
    .hero {
        background: url('../img/bg_mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        display: block; /*Se quita el flex*/

        padding-top: 4vh;
    }

    .hero__content {
        width: 80%;
        margin: 0px auto;
    }

    .hero__logo {
        width: 100%;
    }

    .hero__text {
        font-size: 6vw;
    }

    .btn--hero {
        font-size: 4vw;
        width: max-content;
    }

    /* NAVBAR */
    .btn--primary{
        background: #ffd381;
        color: white;
        width:fit-content;
    }

    .nav__navigation{
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 4px;
        background-color: var(--main_yellow);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .nav__item{
        width: 80vw;
        text-align: center;
    }

    nav .wrap-menu{
        display: block;
        background: var(--main_yellow);
        border-radius: 22px;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__navigation_visible{
        left: 0;
    }

    .body__fixed{
        position: fixed;
    }

    /* Categories */

    .bannerCategories{
        background-color: var(--main_yellow);
        height: calc(100px - 36px);
        text-align: center;
        padding-top: 4px;
    }

    .circlesContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        margin-top: -16px;
        margin-bottom: 32px;
    }

    /*! footer */
    footer {
        font-size: var(--fz_sm);
    }

    .footer__info-social {
        flex-direction: column;
        align-items: center;
    }
      
}
